# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs and caches
logs/
*.log
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
dist/
build/
out/
coverage/

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Test files
*.test.js
*.spec.js
